*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --corUm: #fb8314;
    --corDois: #1c1c1c;
}

.navbar{
    background-image: url(carro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;   */
    background-size: cover;
    height: 600px;
}

.dentroNavbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.logo{
    width: 150px;
    margin-top: -60px;
}

ul{
    display: flex;
}

.navbar li{
    margin-left: 20px;
    font-size: 18px;
    list-style: none;
}

li a{
    color: var(--corDois);
}

li a:hover{
    color: var(--corUm);
}

.perfil a{
    color: var(--corUm)
}

.perfil a:hover{
    color: var(--corDois)
}

.header{
    margin-left: 200px;
}

.dentroHeader{
    display: flex;
}

.usuario-informacoes{
    margin-left: 250px;
    margin-top: 45px;
}

.usuario-informacoes p{
    font-size: 20px;
}

.retangulo{
    display: flex;
    justify-content: center;
}
.retangulo-informacoes{
    display: flex;
    justify-content: space-around;
    background-color: var(--corUm);
    font-size: 28px;
    width: 600px;
    padding: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 95px;
}

main{
    background-color: var(--corDois);
}

.dentroMain{
    padding-top: 150px;
    margin-left: 200px;
}

form{
    margin-top: 40px;
}

.camposAlterarCadastro{
    display: flex;
    padding-bottom: 140px;
}

.camposAlterarCadastro input{
    border: solid 2px var(--corUm);
    background-color: var(--corDois);
    padding: 7px;
    color: white;
    margin-bottom: 15px;
}

.camposAlterarCadastro .alterar{
    background-color: var(--corUm);
    color: white;
    width: 100%;
}

.alterar:hover{
    background-color: #e7913f;
}

section{
    margin-top: 60px;
}

section h1{
    font-size: 40px;
}

.registros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.registros p{
    font-size: 20px;
}

.card-registro{
    margin-bottom: 70px;
    border: var(--corUm) solid 3px;
    display: flex;
    padding: 10px;
}

.card-registro div{
    margin-right: 15px;
}

.dentroFooter{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.dentroFooter i{
    color: white;
    font-size: 20px;
}