@model List<LeantIt.Web.Models.CarroModel>

@{
    ViewData["Title"] = "Início";
}




<header>

    <a><img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711075/logo_recorte_dxihjz.png" class="logo"></a>
    <nav>
        <ul>
            <li><a href="#" class="button-home">Home</a></li>
            <li><a asp-area="" asp-controller="OurServices" asp-action="Index">Categorias</a></li>
            <li><a href="#">Preços</a></li>
            <li><a asp-area="" asp-controller="Carros" asp-action="Adicionar">Add Carro</a></li>
            <li><a class="button-do-register" asp-area="" asp-controller="Account" asp-action="Login">Fazer Login</a></li>
        </ul>
    </nav>

    <article class="article-description">
        <p class="paragraph-welcome">Bem-vindo ao LeanIt</p>

        <h1>
            Dirija a <span class="destaque-title"> Experiência</span>
            de se sentir bem
        </h1>

        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711071/elemento_titulos_ulz1x5.png" class="line-style-orange" width="145rem" height="25rem">

        <p class="paragraph-description">Desbrave novos horizontes com nosso serviço de aluguel de carros por viagem. Liberte-se da rotina, escolha o seu caminho. Clique em <span class="destaque-saber-mais">Saber Mais</span> e descubra como reinventamos a maneira de viajar.</p>

        <button class="article-description-button">Saber Mais</button>

    </article>
</header>
<main>
    <aside class="aside-info">
        <div>
            <p class="paragraph-bold-info">250+</p>
            <p>Carros</p>
        </div>

        <div>
            <p class="paragraph-bold-info">R$12</p>
            <p>Por Hora</p>
        </div>

        <div>
            <p class="paragraph-bold-info">1500</p>
            <p>Cadastros</p>
        </div>

        <div>
            <p class="paragraph-bold-info">5+</p>
            <p>Cidades</p>
        </div>
    </aside>

    <article class="article-main">

        <div class="article-main-text">
            <h2 style="font-weight: 200; font-size: 1.2rem;">Preços</h2>
            <h1>Melhores preços para você e sua <span class="destaque-familia">família</span></h1>

            <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711071/elemento_titulos_ulz1x5.png" class="line-style-orange-article-main" width="145rem" height="25rem">
        </div>

        <div class="cards">

            <div class="card-1">
                <div class="card-content">
                    <h3 class="card-title">Basic</h3>
                    <p class="paragraph-hour"><span class="value-hour">R$12/</span>hora</p>
                    <p class="paragraph-description-categories">Carros básicos, perfeitos para deslocamentos eficientes. Economia sem sacrificar o conforto. Ideal para trajetos urbanos e viagens descomplicadas.</p>
                </div>

                <div class="button-container">
                    <button>Saber Mais</button>
                </div>
            </div>

            <div class="card-2">
                <div class="card-content">
                    <h3 class="card-title">Family</h3>
                    <p class="paragraph-hour"><span class="value-hour">R$15/</span>hora</p>
                    <p class="paragraph-description-categories">Espaço e conforto definem nossa categoria de carros para famílias. Viaje com estilo e comodidade, proporcionando uma experiência agradável para todos os passageiros.</p>
                </div>

                <div class="button-container">
                    <button>Saber Mais</button>
                </div>
            </div>

            <div class="card-3">
                <div class="card-content">
                    <h3 class="card-title">Luxury</h3>
                    <p class="paragraph-hour"><span class="value-hour">R$21/</span>hora</p>
                    <p class="paragraph-description-categories">Experimente o ápice do luxo e da elegância. Nossa categoria de carros de luxo oferece uma viagem sofisticada, com design premium e recursos excepcionais. Faça cada viagem se tornar uma experiência memorável.</p>
                </div>

                <div class="button-container">
                    <button>Saber Mais</button>
                </div>
            </div>

        </div>

    </article>

</main>
<aside class="aside-search-localization">
    <div class="paragraph-map">
        <p>Escolha seu carro</p>
        <p class="paragraph-right-map">LeanIt é a sua melhor escolha</p>
    </div>

    <div class="form-map">
        <label>Sua localização aqui</label>
        <div class="search-map">
            <input id="pac-input" type="text" placeholder="Digite sua localização">
            <button>Pesquisar</button>
        </div>
    </div>

    @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227806.87476532854!2d-49.099103799999995!3d-26.85640995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1e408b5c3095%3A0xacfb8520bc1a7644!2sBlumenau%2C%20SC!5e0!3m2!1spt-BR!2sbr!4v1699039096703!5m2!1spt-BR!2sbr" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@

    <div id="map" style="width: 100%; height:650px"></div>

</aside>


<footer>

    <div class="footer-main">
        <div class="footer-about">
            <p class="footer-title">Sobre a LeanIt</p>
            <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
            <div class="icons-about"><a href="#"><i class="fa-brands fa-youtube"></a></i> <a href="#"><i class="fa-brands fa-facebook"></i></a> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-square-x-twitter"></i></div>
        </div>

        <div class="footer-extra">
            <p class="footer-title">Nossa Página</p>
            <p><a href="#">Nosso blog</a></p>
            <p><a href="#">Sobre o Projeto</a></p>
            <p><a href="https://www.entra21.com.br/" target="_blank">Entra21</a></p>
            <p><a href="#">Planos de Carreira</a></p>
            <p><a href="#">Serviços</a></p>
        </div>

        <div class="footer-contact">
            <p class="footer-title">Contate-nos</p>
            <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
            <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
        </div>
    </div>

    <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

</footer>

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}


@section Scripts {
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: -26.917557, lng: -49.067870 } // Centro do mapa
            });

            var array = [];
            var icon = 'https://res.cloudinary.com/dtvypcack/image/upload/v1702156334/image-removebg-preview_5_vjrfkz_iq0hzk.png';
            // Marcar cada carro no mapa

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);

            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length === 0) {
                    return;
                }

                // Get information about the selected location if needed
                var selectedPlace = places[0];
                console.log(selectedPlace);

                // Update the map with the new location
                map.setCenter(selectedPlace.geometry.location);
            });

        @foreach (var carro in Model)
        {
            <text>
                        var marker = new google.maps.Marker({
                        position: { lat: @carro.Latitude, lng: @carro.Longitude },
                        map: map,
                        icon : icon,
                        title: '@carro.Marca'
                    });

                var infoWindow = new google.maps.InfoWindow({
                    content: `
                                    <p>@carro.Marca</p>
                                    <a href='a.html'>Ir para página</a>
                                `,
                });

                array.push({ marker: marker, infoWindow: infoWindow });

                marker.addListener('click', (function (infoWindow, marker) {
                    return function () {
                        // Fechar todas as janelas de informações abertas
                        array.forEach(function (item) {
                            item.infoWindow.close();
                        });

                        // Abrir a janela de informações associada a este marcador
                        infoWindow.open(map, marker);
                    };
                })(infoWindow, marker));
            </text>
        }
            }
    </script>
    <script async
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh7XqulgkrxKP_wwrWE4fX_dECUGI6xhI&libraries=places&callback=initMap">
    </script>
}