* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F3F3F3;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

    p a {
        color: rgb(255, 129, 16);
    }


.rating-card {
    width: 580px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ff8110;
    background: linear-gradient(to right bottom, #ff8110, #ff8110);
    padding: 20px 20px;
    border-radius: 10px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
}

.text-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.text-primary {
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.text-secondary {
    color: #cccccc;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.rating-stars-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.star-label svg {
    fill: rgb(210, 210, 210);
    width: 30px;
    height: auto;
}

.rating-stars-container input {
    appearance: unset;
}

    .rating-stars-container input:hover ~ .star-label svg {
        fill: #FAF427;
    }

    .rating-stars-container input:checked ~ .star-label svg {
        fill: #FAF427;
        animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

@keyframes slide-in-fwd-center {
    0% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.socials-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    border-top: 1px solid #fff;
}


@media screen and (max-width: 800px) {
    main {
        padding: 10px;
    }

    .rating-card {
        width: 580px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #ff8110;
        background: linear-gradient(to right bottom, #ff8110, #ff8110);
        padding: 20px 20px;
        border-radius: 10px;
        gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
    }

    .text-wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .text-primary {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .text-secondary {
        color: #cccccc;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .rating-stars-container {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .star-label svg {
        fill: rgb(210, 210, 210);
        width: 30px;
        height: auto;
    }

    .rating-stars-container input {
        appearance: unset;
    }

        .rating-stars-container input:hover ~ .star-label svg {
            fill: #FAF427;
        }

        .rating-stars-container input:checked ~ .star-label svg {
            fill: #FAF427;
            animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
}