* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100;
    background-size: cover;
    background-position: center;
    height: 20vh;
    position: relative;
    z-index: 1;
}

.logo {
    margin: 7vh 0 0 10vh;
    width: 20vh;
    height: 5vh;
}

#map {
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav ul {
    margin: 0 10vh 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

    nav ul li {
        list-style: none;
        margin: 7vh 0 0 0;
        padding: 1vh 4vh;
    }

        nav ul li a {
            color: rgb(26, 26, 26);
            text-decoration: none;
            font-size: 1.0rem;
            letter-spacing: 2px;
            font-family: 'Poppins';
            transition: 0.5s all;
            border: transparent;
        }

.nav-item {
    position: relative;
}

    .nav-item a {
        display: block;
        text-decoration: none;
        color: #333;
    }


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 180px;
    padding-top: 10px;
    left: 0;
    background-color: #F3F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 170px;
    margin-left: -28px;
}

.dropdown-menu li {
    margin-top: -10px;
    width: 100%;
    padding: 0px;
}

    .dropdown-menu li a {
        /*margin-left: -10px*/
    }

.dropdown-menu li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

    .dropdown-menu li a {
        color: #555;
    }

    .dropdown-menu li .add {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dropdown-menu li .listando {
        display: inline-block;
    }

.button-home {
    color: rgb(255, 129, 16);
}

.button-do-register {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-register:hover {
        background-color: rgb(26, 26, 26);
    }

.button-do-logout {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-logout:hover {
        background-color: rgb(26, 26, 26);
    }

nav ul li:nth-child(-n+4) a {
    transition: 0.6s border;
}

    nav ul li:nth-child(-n+4) a:hover {
        border-bottom: 1px solid rgb(26, 26, 26);
    }

.tituloCadastro {
    margin-left: 55px;
    margin-bottom: 20px;
}

.frase {
    margin-left: 55px;
    margin-top: 20px;
}

.tituloInformacao {
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tituloInformacao p{
    font-weight: 400;
}

.form-control {
    border: 1px solid #fb8314;
    border-radius: 5px;
    padding: 4px;
    width: 20%;
}

.form-check-input {
    border: 3px solid #fb8314;
    border-radius: 5px;
    margin-right: 5px;
    width: auto;
    height: auto;
    padding: 5px;
}

.escolhaSexo select {
    border: 1px solid #fb8314;
    border-radius: 5px;
    font-size: small;
}

#inputEstado {
    border: 1px solid #fb8314;
    border-radius: 5px;
    font-size: small;
}

.informacoesPessoais {
    display: flex;
    justify-content: space-between; 
    margin-left: 55px;
    width: 84%;
}

.informacoesPessoais div{
    width: 100%;
    margin-right: 30px;
}

    .informacoesPessoais .inp input {
        padding: 8px;
        width: 100%;
        border: 2px solid rgb(255, 129, 16);
    }

    .informacoesPessoais .inpSemDate input {
        padding-bottom: 10px;
    }


.informacoes2 {
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    width: 84.3%;
}

    .informacoes2 div {
        width: 100%;
        margin-right: 30px;
    }

    .informacoes2 .inp input {
        padding: 8px;
        width: 100%;
        border: 2px solid rgb(255, 129, 16);
    }

    .informacoes2 .inpSexo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 7px;
    }

        .informacoes2 .inpSexo .inpSexoMasc{
            width: 50%;
            margin-right: 5px
        }

        .informacoes2 .inpSexo .inpSexoFemi{
            width: 50%;
            display: flex;
            justify-content:flex-end;
        }

.senhas {
    display: flex;
    margin-left: 55px;
    width: 84%;
}

    .senhas div {
        width: 100%;
        margin-right: 30px;
    }

        .senhas div input{
            padding: 8px;
            width: 100%;
            border: 2px solid rgb(255, 129, 16);
        }

.select {
    background-color: rgb(255, 129, 16);
    color: white;
    width: 105%;
    border: 2px solid rgb(255, 129, 16);
    padding: 7px;
}

.informacoesResidenciais {
    display: flex;
    width: 100%;
    gap: 2vw;
}

    .informacoesResidenciais input {
        width: 300px;
    }

.container {
    margin-left: 43px;
    margin-top: 30px;
}

.informacoesResidenciais2 {
    display: flex;
    width: 100%;
    gap: 2vw;
}

    .informacoesResidenciais2 input {
        width: 300px;
    }

.criarSenha {
    display: flex;
    width: 100%;
    gap: 2vw;
}

    .criarSenha input {
        width: 300px;
    }

.botaoCadastro {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 10px;
    transition: 0.5s background;
    border: none;
    font-size: 15px;
}


    .botaoCadastro:hover {
        background-color: rgb(26, 26, 26);
    }

.buttonCadastro {
    border: 1px solid #ffffff;
    background-color: #fb8314;
    color: white;
    width: 200px;
    padding: 8px;
    font-size: larger;
}

.buttonCancelarCadastro {
    border: 1px solid #ffffff;
    background-color: #dcdcdc;
    color: white;
    width: 200px;
    padding: 8px;
    font-size: larger;
}

.confirmarCadastro {
    margin-bottom: 50px;
    margin-left: 55px;
    border: none;
}

.voltarLogin{
    color: black;
    text-decoration:none;
}

    .voltarLogin:hover {
        text-decoration: underline;
    }

.footer-main {
    margin-top: 9vh;
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-about, .footer-extra, .footer-contact {
    width: 20%;
    color: rgb(26, 26, 26);
}

.footer-extra {
    margin-bottom: 3vh;
}

.footer-main a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

    .footer-main a:hover {
        color: white;
    }

.footer-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2vh;
}

.footer-about i {
    color: white;
    font-size: 3vh;
    margin-left: 4%;
    margin-top: 10px;
}

.footer-contact i {
    color: white;
    margin-right: 1vh;
}

.footer-copyright {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.8vh;
}

.mobile-nav{
    display:none;
}


@media screen and (max-width: 800px) {
    .mobile-nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;
        height: 5vh;
    }


    .logo-mobile {
        width: 90px;
        height: 3vh;
    }

        .logo-mobile:hover {
            cursor: pointer;
        }

    .logo {
        display: none;
    }
    header {
        width: 100;
        background-size: cover;
        background-position: center;
        height: 10vh;
        position: relative;
        z-index: 1;
    }

    

    #map {
    }

    header nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    nav ul {
        margin: 0 10vh 0 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

        nav ul li {
            list-style: none;
            margin: 7vh 0 0 0;
            padding: 1vh 4vh;
        }

            nav ul li a {
                color: rgb(26, 26, 26);
                text-decoration: none;
                font-size: 1.0rem;
                letter-spacing: 2px;
                font-family: 'Poppins';
                transition: 0.5s all;
                border: transparent;
            }

    .nav-item {
        position: relative;
    }

        .nav-item a {
            display: block;
            text-decoration: none;
            color: #333;
        }


    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 180px;
        padding-top: 10px;
        left: 0;
        background-color: #F3F2F2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        width: 170px;
        margin-left: -28px;
        padding-left: 18px;
    }

    .dropdown-menu li {
        margin-top: -10px;
    }

        .dropdown-menu li a {
            margin-left: -10px
        }

    .dropdown-menu li {
        display: block;
    }

        .dropdown-menu li a {
            color: #555;
        }

        .dropdown-menu li .add {
            display: inline-block;
            margin-left: 5px;
        }

        .dropdown-menu li .listando {
            display: inline-block;
        }

    .button-home {
        color: rgb(255, 129, 16);
    }

    .button-do-register {
        background-color: rgb(255, 129, 16);
        color: white;
        padding: 7px 11px;
        transition: 0.5s background;
    }

        .button-do-register:hover {
            background-color: rgb(26, 26, 26);
        }

    .button-do-logout {
        background-color: rgb(255, 129, 16);
        color: white;
        padding: 7px 11px;
        transition: 0.5s background;
    }

        .button-do-logout:hover {
            background-color: rgb(26, 26, 26);
        }

    nav ul li:nth-child(-n+4) a {
        transition: 0.6s border;
    }

        nav ul li:nth-child(-n+4) a:hover {
            border-bottom: 1px solid rgb(26, 26, 26);
        }

    .tituloCadastro {
        margin-left: 55px;
        margin-bottom: 20px;
    }

    .frase {
        margin-left: 55px;
        margin-top: 20px;
    }

    .tituloInformacao {
        margin-left: 55px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .tituloInformacao p {
            font-weight: 400;
        }

    .form-control {
        border: 1px solid #fb8314;
        border-radius: 5px;
        padding: 4px;
        width: 20%;
    }

    .form-check-input {
        border: 3px solid #fb8314;
        border-radius: 5px;
        margin-right: 5px;
        width: auto;
        height: auto;
        padding: 5px;
    }

    .escolhaSexo select {
        border: 1px solid #fb8314;
        border-radius: 5px;
        font-size: small;
    }

    #inputEstado {
        border: 1px solid #fb8314;
        border-radius: 5px;
        font-size: small;
    }

    .informacoesPessoais {
        display: block;
        justify-content: space-between;
        margin-left: 35px;
        width: 75%;
    }

        .informacoesPessoais div {
            width: 100%;
            margin-right: 30px;
        }

        .informacoesPessoais .inp input {
            padding: 8px;
            width: 100%;
            border: 2px solid rgb(255, 129, 16);
        }

        .informacoesPessoais .inpSemDate input {
            padding-bottom: 10px;
        }


    .informacoes2 {
        display: block;
        justify-content: space-between;
        margin-left: 35px;
        width: 75%;
    }

        .informacoes2 div {
            width: 100%;
            margin-right: 30px;
        }

        .informacoes2 .inp input {
            padding: 8px;
            width: 100%;
            border: 2px solid rgb(255, 129, 16);
        }

        .informacoes2 .inpSexo {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 7px;
        }

            .informacoes2 .inpSexo .inpSexoMasc {
                width: 50%;
                margin-right: 5px
            }

            .informacoes2 .inpSexo .inpSexoFemi {
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }

    .senhas {
        display: block;
        margin-left: 35px;
        width: 75%;
    }

        .senhas div {
            width: 100%;
            margin-right: 30px;
        }

            .senhas div input {
                padding: 8px;
                width: 100%;
                border: 2px solid rgb(255, 129, 16);
            }

    .select {
        background-color: rgb(255, 129, 16);
        color: white;
        width: 105%;
        border: 2px solid rgb(255, 129, 16);
        padding: 7px;
    }

    .informacoesResidenciais {
        display: flex;
        width: 100%;
        gap: 2vw;
    }

        .informacoesResidenciais input {
            width: 300px;
        }

    h3 {
        margin-left: 20px;
    }

    .container {
        margin-left: 44px;
        margin-top: 30px;
    }

    .informacoesResidenciais2 {
        display: flex;
        width: 100%;
        gap: 2vw;
    }

        .informacoesResidenciais2 input {
            width: 300px;
        }

    .criarSenha {
        display: flex;
        width: 100%;
        gap: 2vw;
    }

        .criarSenha input {
            width: 300px;
        }

    .botaoCadastro {
        margin-top: 15px;
        background-color: rgb(255, 129, 16);
        color: white;
        padding: 10px;
        transition: 0.5s background;
        border: none;
        font-size: 15px;
        width: 89%;
    }


        .botaoCadastro:hover {
            background-color: rgb(26, 26, 26);
        }

    .buttonCadastro {
        border: 1px solid #ffffff;
        background-color: #fb8314;
        color: white;
        width: 88%;
        padding: 8px;
        font-size: larger;
    }

    .buttonCancelarCadastro {
        border: 1px solid #ffffff;
        background-color: #dcdcdc;
        color: white;
        width: 90%;
        padding: 8px;
        font-size: larger;
    }

    .confirmarCadastro {
        width: 90%;
        margin-bottom: 50px;
        margin-left: 35px;
        border: none;
    }

    .footer-about {
        width: 100%;
    }

    .footer-title {
        margin: 0px;
        width: 100%;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-about a {
        display: inline-block;
        margin-right: 0vh;
    }

    .footer-about, .footer-extra, .footer-contact {
        width: 100%;
        color: rgb(26, 26, 26);
    }

    .footer-extra {
        margin-bottom: 3vh;
    }

    .footer-main a {
        color: rgb(26, 26, 26);
        text-decoration: none;
    }

        .footer-main a:hover {
            color: white;
        }

    .footer-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 2vh;
    }

    footer p {
        font-size: 15px;
    }

    .footer-about i {
        color: white;
        font-size: 3vh;
        margin-left: 4%;
        margin-top: 10px;
    }

    .footer-contact i {
        color: white;
        margin-right: 1vh;
    }

    .footer-copyright {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1.8vh;
    }
}
