
/* Estas são as cores padrões do projeto */
:root {
    --corUm: #fb8314; /* Cor Laranja */
    --corDois: #1c1c1c; /* Cor Cinza Escuro */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Aqui é o header da página de serviços */
header {
    width: 100%;
    background-color:  #ffffff;
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    z-index: 1;
}

.logo {
    margin: 7vh 0 0 10vh;
    width: 20vh;
    height: 5vh;
}

/* Começo da estilização do navbar */
header nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    margin: 0 10vh 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 7vh 0 0 0;
    padding: 1vh 4vh;
}

nav ul li a {
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-size: 1.0rem;
    letter-spacing: 2px;
    font-family: 'Poppins';
    transition: 0.5s all;
    border: transparent;
}


.button-home {
    color: rgb(255, 129, 16);
}

.button-do-register {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-register:hover {
        background-color: rgb(26, 26, 26);
    }

nav ul li:nth-child(-n+3) a {
    transition: 0.6s border;
}

    nav ul li:nth-child(-n+3) a:hover {
        border-bottom: 1px solid rgb(26, 26, 26);
    }

.nav-item {
    position: relative;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: #333;
}

/* Aqui é o menu dropdown com as opções de administrador */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 180px;
    padding-top: 10px;
    left: 0;
    background-color: #F3F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 170px;
    margin-left: -28px;
    padding-left: 18px;
}

.dropdown-menu li {
    margin-top: -10px;
}

    .dropdown-menu li a {
        margin-left: -10px
    }

.dropdown-menu li {
    display: block;
}

    .dropdown-menu li a {
        color: #555;
    }

    .dropdown-menu li .add {
        display: inline-block;
        margin-left: 4px;
    }

    .dropdown-menu li .listando {
        display: inline-block;
    }


/* Aqui começa a estilização do article */
.article-description {
    width: 98vh;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    font-weight: 200;
}

.paragraph-welcome {
    font-size: 1.1rem;
    font-family: 'Poppins';
}

.article-description h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3vh;
}

.destaque-title {
    color: rgb(255, 129, 16);
    width: 1vw;
}

.paragraph-description {
    margin-top: 3vh;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.destaque-saber-mais {
    font-weight: 700;
}

.article-description-button {
    margin-top: 5vh;
    padding: 1vh 5vh;
    font-size: 1.1rem;
    background-color: rgb(255, 129, 16);
    border: 0;
    color: white;
    transition: 0.5s background;
}

.article-description-button:hover {
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

/* aside números informativos */

.aside-info {
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    margin: 0 18vh;
    align-items: center;
    position: relative;
    min-height: 16vh;
    max-height: 30vh;
    margin-top: -8vh;
    z-index: 2;
}

    .aside-info .paragraph-bold-info {
        font-size: 1.8rem;
        font-weight: 700;
        font-family: 'Poppins';
    }

    .aside-info div p {
        font-size: 1.5rem;
        color: white;
        font-weight: 500;
    }

/* article cards informativos */

main {
    background-color: rgb(26, 26, 26);
}

.article-main {
    padding-top: 12vh;
    margin: 0 18vh;
    color: white;
    padding-bottom: 8vh;
}

.article-main-text {
    text-align: center;
}

    .article-main-text h1 {
        font-size: 2rem;
        width: 100vh;
        margin: auto;
        line-height: 9vh;
        margin-bottom: 3vh;
    }

.destaque-familia {
    color: rgb(255, 129, 16);
}

/* cards preços */

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.card-1, .card-2, .card-3 {
    flex-wrap: wrap;
    text-align: center;
    width: 50vh;
    min-height: 72vh;
    max-height: 72vh;
    border: 3px solid rgb(255, 129, 16);
    position: relative;
    margin-bottom: 2vh;
}

.card-title {
    font-family: 'Poppins';
    margin-top: 2vh;
    font-size: 26px;
    font-weight: 700;
}

.paragraph-hour {
    margin: 0 8vh 3vh;
    padding-bottom: 1vh;
    border-bottom: 3px dotted white;
}

.value-hour {
    font-size: 3.3rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.paragraph-description-categories {
    margin: 0 3vh;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    font-weight: 200;
}

.button-container {
    display: block;
    position: absolute;
    bottom: 1.5vh;
    width: 100%;
}

.cards button {
    padding: 1vh 5vh;
    font-size: 1.0rem;
    background-color: rgb(26, 26, 26);
    border: 3px solid rgb(255, 129, 16);
    color: white;
    transition: 0.4s all;
}

    .cards button:hover {
        background-color: rgb(255, 129, 16);
        border: 3px solid white;
        cursor: pointer;
    }

/* aside mapa */

.aside-search-localization {
    background-color: white;
    padding-top: 8vh;
    margin: 0 18vh;
}

.paragraph-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5vh;
    font-size: 1.2rem;
    font-weight: 200;
}

.form-map label {
    font-size: 2.5rem;
    font-weight: 700;
}

.search-map {
    padding-top: 1.5vh;
    display: flex;
    margin-bottom: 2vh;
}

    .search-map input {
        width: 82%;
        max-height: 5vh;
        min-height: 5vh;
        font-size: 0.9rem;
        font-weight: 200;
        padding-left: 8px;
        border-radius: 0;
        border: 3px solid rgb(255, 129, 16);
        background-color: rgb(26, 26, 26);
        color: white;
        margin-right: 1%;
    }

.form-map input[type="text"]:focus {
    border: 3px solid rgb(255, 129, 16);
    outline: none;
    background-color: #3b3b3b;
}

.form-map button {
    width: 17%;
    background-color: rgb(255, 129, 16);
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
}


/* Aqui é apenas a estilização do Main */
main {
    background-color: var(--corDois);
}

/* Footer */

.footer-main {
    margin-top: 5vh;
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-about, .footer-extra, .footer-contact {
    width: 20%;
    color: rgb(26, 26, 26);
}

.footer-extra {
    margin-bottom: 3vh;
}

.footer-main a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

    .footer-main a:hover {
        color: white;
    }

.footer-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2vh;
}

.footer-about i {
    color: white;
    font-size: 3vh;
    margin-left: 4%;
    margin-top: 10px;
}

.footer-contact i {
    color: white;
    margin-right: 1vh;
}

.footer-copyright {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.8vh;
    background-color: white;
}

.footer-about a {
    display: inline-block;
    margin-right: 1vh;
}


/* Aqui começa o carousel de carros/categorias */
.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 100%;
    min-width: 100%;
    min-height: 50vh;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

/* Botões com estilização do font-awesome */
#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

.dentroMain {
    padding-top: 35px;
}


/* Este badge está sendo exibido dentro do carousel com algumas infromações */
.badge {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: var(--corUm);
    color: #fff;
    border-radius: 4px;
}

.badges {
    margin-right: 5vw;
    display: flex;
    gap: 5vw;
    color: #fff;
}

.badges-content {
    display: flex; 
    flex-direction: row; 
    gap: 4vw;
}

.item-carousel-content {
    display: flex; 
    padding: 5vw; 
    justify-content: space-between;
}

.img-car {
    display: flex; 
    justify-content: flex-end; 
    margin-top: -15vh; 
    margin-right: 15vw;
}

@media screen and (max-width: 1025px) {
    .mobile-nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .logo-mobile {
        width: 90px;
        height: 3vh;
    }

        .logo-mobile:hover {
            cursor: pointer;
        }

    .logo {
        display: none;
    }

    header {
        padding: 0px;
        margin: 0px;
        height: 57vh;
    }

    .article-description {
        width: 94vw;
        margin-left: 0px;
    }

        .article-description h1 {
            margin: 0px;
            font-size: 25px;
        }

    .paragraph-welcome {
        font-size: 10px;
    }

    .line-style-orange {
        margin-top: 20px;
        width: 115px;
        height: 20px;
    }

    .paragraph-description {
        width: 100%;
        font-size: 15px;
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .article-description-button {
        margin-top: 5vh;
        padding: 0.3vh 2vh;
        font-size: 15px;
        background-color: rgb(255, 129, 16);
        border: 0;
        color: white;
        transition: 0.5s background;
    }

    .hora {
        display: none;
    }

    .cidades {
        display: none;
    }

    .aside-info .paragraph-bold-info {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Poppins';
    }

    .aside-info div p {
        font-size: 15px;
        color: white;
        font-weight: 500;
    }

    nav {
        display: none;
    }

    .aside-info {
        background-color: rgb(255, 129, 16);
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        position: relative;
        min-height: 12vh;
        max-height: 20vh;
        margin-top: -8vh;
        z-index: 2;
    }

    main {
        background-color: rgb(26, 26, 26);
    }

    .article-main .paragrafo {
        font-size: 25px;
        width: 90%;
    }

    .article-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 8vh;
        margin: 0 0vh;
        color: white;
        padding-bottom: 8vh;
    }

    .article-main-text {
        margin: 0px;
        text-align: center;
    }

        .article-main-text h1 {
            font-size: 2rem;
            width: 100vh;
            margin: auto;
            line-height: 6vh;
            margin-bottom: 3vh;
        }

    .destaque-familia {
        color: rgb(255, 129, 16);
    }

    .article-main-text h2 {
        font-size: 10px;
    }

    .line-style-orange-article-main {
        width: 115px;
        height: 20px;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .card-1, .card-2, .card-3 {
        border: 3px solid rgb(255, 129, 16);
        padding: 20px;
        margin-bottom: 10px;
        align-items: center;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-family: 'Poppins';
        margin-top: 2vh;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .paragraph-hour {
        margin: 0 8vh 3vh;
        padding-bottom: 1vh;
        border-bottom: 3px dotted white;
        text-align: center;
    }

    .value-hour {
        font-size: 37px;
        font-family: 'Poppins';
        font-weight: 600;
    }

    .paragraph-description-categories {
        font-size: 15px;
        margin: 0 5vh;
        line-height: 1.5rem;
        word-spacing: 0.1rem;
        font-weight: 200;
        height: 220px;
        text-align: center;
    }

    .cards button {
        padding: 1vh 5vh;
        font-size: 1.0rem;
        background-color: rgb(26, 26, 26);
        border: 3px solid rgb(255, 129, 16);
        color: white;
        transition: 0.4s all;
    }

        .cards button:hover {
            background-color: rgb(255, 129, 16);
            border: 3px solid white;
            cursor: pointer;
        }

    .aside-search-localization {
        background-color: white;
        padding-top: 8vh;
        margin: 0 1vh;
    }

    .form-map-responsive {
        display: block;
        margin-bottom: 30px;
    }

    .aside-search-localization label {
        font-size: 22px;
        font-weight: 700;
    }

    .aside-search-localization p {
        font-size: 10px;
    }

    .paragraph-map {
        display: none;
    }

    .form-map {
        display: none;
    }

    select {
        padding: 5px;
        border: 3px solid rgb(255, 129, 16);
        background-color: rgb(255, 129, 16);
        color: white;
        width: 42%
    }

        select option {
            background-color: rgb(255, 129, 16);
            color: white;
            letter-spacing: 0.4px;
            border: none;
            cursor: pointer;
        }

    .labelDestino {
        width: 30%;
    }


    #pac-input {
        padding-bottom: 0.7px;
        width: 50%;
    }

    input {
        max-height: 5vh;
        min-height: 5vh;
        font-size: 0.9rem;
        font-weight: 200;
        padding-left: 8px;
        border-radius: 0;
        border: 3px solid rgb(255, 129, 16);
        background-color: rgb(26, 26, 26);
        color: white;
    }

    .escolhaDestino {
        margin-left: 20px;
    }

    .destino {
        width: 50%;
        padding-top: 1px;
    }

    .search-map input[type="text"]:focus {
        border: 3px solid rgb(255, 129, 16);
        outline: none;
        background-color: #3b3b3b;
    }

    .buttonPesquisar {
        width: 42%;
        padding: 7px 2px 6px 2px;
        font-size: 15px;
        background-color: rgb(255, 129, 16);
        color: white;
        letter-spacing: 0.4px;
        border: none;
        cursor: pointer;
    }

    .footer-about {
        width: 100%;
    }

    .footer-title {
        margin: 0px;
        width: 100%;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-about a {
        display: inline-block;
        margin-right: 0vh;
    }

    .footer-about, .footer-extra, .footer-contact {
        width: 100%;
        color: rgb(26, 26, 26);
    }

    .footer-extra {
        margin-bottom: 3vh;
    }

    .footer-main a {
        color: rgb(26, 26, 26);
        text-decoration: none;
    }

        .footer-main a:hover {
            color: white;
        }

    .footer-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 2vh;
    }

    footer p {
        font-size: 15px;
    }

    .footer-about i {
        color: white;
        font-size: 3vh;
        margin-left: 4%;
        margin-top: 10px;
    }

    .footer-contact i {
        color: white;
        margin-right: 1vh;
    }

    .footer-copyright {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1.8vh;
    }

    /* Aqui começa o carousel de carros/categorias */

    .carousel-item {
        display: block;
    }

    .item-carousel-content h1 {
        width: 70vw;
    }

    .img-car {
        margin-top: 55px;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }

    .item-carousel-content {
        display: block;
        padding: 5vw;
    }

    #onix, #ford {
        min-width: 60vw;
        max-width: 60vw;
    }



    /* Botões com estilização do font-awesome */
    #prevBtn,
    #nextBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    #prevBtn {
        left: 0;
    }

    #nextBtn {
        right: 0;
    }

    .dentroMain {
        padding-top: 35px;
    }


    /* Este badge está sendo exibido dentro do carousel com algumas infromações */
    .badge {
        display: none;
    }
}