

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    background-image: url(https://res.cloudinary.com/dtvypcack/image/upload/v1701711044/pexels-photo-14550540_qvrfkz.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
    z-index: 1;
}

.logo {
    margin: 7vh 0 0 10vh;
    width: 20vh;
    height: 5vh;
}

#map {

}

header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav ul {
    margin: 0 10vh 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 7vh 0 0 0;
    padding: 1vh 4vh;
}

nav ul li a {
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-size: 1.0rem;
    letter-spacing: 2px;
    font-family: 'Poppins';
    transition: 0.5s all;
    border: transparent;
}

.nav-item {
    position: relative;
}

    .nav-item a {
        display: block;
        text-decoration: none;
        color: #333;
    }


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 180px;
    padding-top: 10px;
    left: 0;
    background-color: #F3F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 180px;
    margin-left: -28px;
    padding-left: 5px;
}

.dropdown-menu li {
    margin-top: -10px;
}

    .dropdown-menu li a {
        margin-left: -10px
    }

.dropdown-menu li {
    display: block;
}

    .dropdown-menu li a {
        color: #555;
    }

    .dropdown-menu li .add {
        display: inline-block;
        margin-left: 5px;
    }

    .dropdown-menu li .listando {
        display: inline-block;
    }

.button-home {
    color: rgb(255, 129, 16);
}

.button-do-register {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-register:hover {
        background-color: rgb(26, 26, 26);
    }

nav ul li:nth-child(-n+4) a {
    transition: 0.6s border;
}

    nav ul li:nth-child(-n+4) a:hover {
        border-bottom: 1px solid rgb(26, 26, 26);
    }

.article-description {
    width: 98vh;
    margin-top: 5vh;
    margin-left: 10vh;
    font-weight: 200;
}

.paragraph-welcome {
    font-size: 1.1rem;
    font-family: 'Poppins';
}

.article-description h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3vh;
}

.destaque-title {
    color: rgb(255, 129, 16);
    width: 1vw;
}

.paragraph-description {
    margin-top: 3vh;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 6vh;
}

.destaque-saber-mais {
    font-weight: 700;
}

.article-description-button a {
    padding: 1vh 5vh;
    font-size: 1.1rem;
    background-color: rgb(255, 129, 16);
    border: 0;
    color: white;
    transition: 0.5s background;
    text-decoration: none;
}

    .article-description-button a:hover {
        background-color: rgb(26, 26, 26);
        cursor: pointer;
    }

/* aside números informativos */

.aside-info {
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    margin: 0 18vh;
    align-items: center;
    position: relative;
    min-height: 16vh;
    max-height: 30vh;
    margin-top: -8vh;
    z-index: 2;
}

    .aside-info .paragraph-bold-info {
        font-size: 1.8rem;
        font-weight: 700;
        font-family: 'Poppins';
    }

    .aside-info div p {
        font-size: 1.5rem;
        color: white;
        font-weight: 500;
    }

/* article cards informativos */

main {
    background-color: rgb(26, 26, 26);
}

.article-main {
    padding-top: 12vh;
    margin: 0 18vh;
    color: white;
    padding-bottom: 8vh;
}

.article-main-text {
    text-align: center;
}

    .article-main-text h1 {
        font-size: 2rem;
        width: 100vh;
        margin: auto;
        line-height: 9vh;
        margin-bottom: 3vh;
    }

.destaque-familia {
    color: rgb(255, 129, 16);
}

/* cards preços */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card-1, .card-2, .card-3 {
    border: 3px solid rgb(255, 129, 16);
    padding: 20px;
    align-items: center;
    width: 26%;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: 'Poppins';
    margin-top: 2vh;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.paragraph-hour {
    margin: 0 8vh 3vh;
    padding-bottom: 1vh;
    border-bottom: 3px dotted white;
    text-align: center;
}

.value-hour {
    font-size: 3.3rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.paragraph-description-categories {
    margin: 0 3vh;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    font-weight: 200;
    height: 220px;
    text-align: center;
}

.cards button {
    padding: 1vh 5vh;
    font-size: 1.0rem;
    background-color: rgb(26, 26, 26);
    border: 3px solid rgb(255, 129, 16);
    color: white;
    transition: 0.4s all;
}

.cards button:hover {
    background-color: rgb(255, 129, 16);
    border: 3px solid white;
    cursor: pointer;
}

/* aside mapa */

.aside-search-localization {
    background-color: white;
    padding-top: 8vh;
    margin: 0 18vh;
}

.paragraph-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5vh;
    font-size: 1.2rem;
    font-weight: 200;
}

.form-map label {
    font-size: 2.5rem;
    font-weight: 700;
}

.labels{
    display: flex;
}

.labelLoc {
    width: 51%;
}

.loc{
    display:flex
}


select {
    padding: 5px;
    border: 3px solid rgb(255, 129, 16);
    background-color: rgb(255, 129, 16);
    color: white;
    width: 55%
}

    select option {
        background-color: rgb(255, 129, 16);
        color: white;
        letter-spacing: 0.4px;
        border: none;
        cursor: pointer;
    }

.labelDestino {
    width: 30%;
}

.search-map {
    padding-top: 1.5vh;
    display: flex;
    justify-content:space-around;
    margin-bottom: 2vh;
}
    .search-map div{
        width: 100%;

    }

    .search-map div #pac-input {
        padding-bottom: 0.7px;
        width: 93%;
    }

    .search-map div input {
        width: 100%;
        max-height: 5vh;
        min-height: 5vh;
        font-size: 0.9rem;
        font-weight: 200;
        padding-left: 8px;
        border-radius: 0;
        border: 3px solid rgb(255, 129, 16);
        background-color: rgb(26, 26, 26);
        color: white;
        margin-right: 1%;
    }
        .search-map .escolhaDestino {
            margin-left: 20px;
        }

    .search-map div .destino {
        width: 62%;
        padding-top: 1px;
    }

.form-map .search-map input[type="text"]:focus {
    border: 3px solid rgb(255, 129, 16);
    outline: none;
    background-color: #3b3b3b;
}

.form-map .buttonPesquisar {
    width: 33%;
    padding: 7px 2px 6px 2px;
    font-size: 15px;
    background-color: rgb(255, 129, 16);
    color: white;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
}

/* Footer */

.footer-main {
    margin-top: 5vh;
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-about a{
    display: inline-block;
    margin-right: 1vh;
}

.footer-about, .footer-extra, .footer-contact {
    width: 20%;
    color: rgb(26, 26, 26);
}

.footer-extra {
    margin-bottom: 3vh;
}

.footer-main a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

    .footer-main a:hover {
        color: white;
    }

.footer-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2vh;
}

.footer-about i {
    color: white;
    font-size: 3vh;
    margin-left: 4%;
    margin-top: 10px;
}

.footer-contact i {
    color: white;
    margin-right: 1vh;
}

.footer-copyright {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.8vh;
}

/* BANNER DO INFOWINDOW DO MAPA */

#car-details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

#car-image {
    width: 100%;
    max-height: 100px;
    object-fit:cover;
}

#car-info {
    padding: 20px;
    text-align: center;
}

#choose-car-btn {
    background-color: #fb8314;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0 0 10px 10px;
    width: 100%;
    transition: 0.5s background;
}

    #choose-car-btn:hover {
        background-color: #000;
    }