/*HEADER*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    margin: 7vh 0 0 10vh;
    width: 20vh;
    height: 5vh;
}

.mobile-nav {
    display: none;
}

#map {
}

header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav ul {
    margin: 0 10vh 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

    nav ul li {
        list-style: none;
        margin: 7vh 0 0 0;
        padding: 1vh 4vh;
    }

        nav ul li a {
            color: rgb(26, 26, 26);
            text-decoration: none;
            font-size: 1.0rem;
            letter-spacing: 2px;
            font-family: 'Poppins';
            transition: 0.5s all;
            border: transparent;
        }

.nav-item {
    position: relative;
}

    .nav-item a {
        display: block;
        text-decoration: none;
        color: #333;
    }


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 180px;
    padding-top: 10px;
    left: 0;
    background-color: #F3F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 170px;
    margin-left: -28px;
    padding-left: 18px;
}

.dropdown-menu li {
    margin-top: -10px;
}

    .dropdown-menu li a {
        margin-left: -10px
    }

.dropdown-menu li {
    display: block;
}

    .dropdown-menu li a {
        color: #555;
    }

    .dropdown-menu li .add {
        display: inline-block;
        margin-left: 5px;
    }

    .dropdown-menu li .listando {
        display: inline-block;
    }

.button-home {
    color: rgb(255, 129, 16);
}

.button-do-register {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-register:hover {
        background-color: rgb(26, 26, 26);
    }

.button-do-logout {
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

    .button-do-logout:hover {
        background-color: rgb(26, 26, 26);
    }

nav ul li:nth-child(-n+4) a {
    transition: 0.6s border;
}

    nav ul li:nth-child(-n+4) a:hover {
        border-bottom: 1px solid rgb(26, 26, 26);
    }

/*MAIN*/

h1 {
    margin-top: 8vh;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1vh;
}

h2 {
    padding-top: 3.5vh;
    padding-bottom: 1vh;
}

.first-paragraph {
    padding-bottom: 3vh;
}

.terms {
    width: 80%;
    margin: auto;
    height: 60vh;
    background-color: rgb(235, 235, 235);
    margin-bottom: 8vh;
    padding: 4vh 0;
    overflow: auto;
    border: 2px solid black;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

    .terms p, .terms h2 {
        width: 90%;
        margin: auto;
    }

    .terms p {
        /* color: rgb(55, 55, 55); */
        font-weight: 100;
    }

.att-termos {
    padding-top: 2vh;
}


/*FOOTER*/

.footer-main {
    margin-top: 5vh;
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-about a {
    display: inline-block;
    margin-right: 1vh;
}

.footer-about, .footer-extra, .footer-contact {
    width: 20%;
    color: rgb(26, 26, 26);
}

.footer-extra {
    margin-bottom: 3vh;
}

.footer-main a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

    .footer-main a:hover {
        color: white;
    }

.footer-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2vh;
}

.footer-about i {
    color: white;
    font-size: 3vh;
    margin-left: 4%;
    margin-top: 10px;
}

.footer-contact i {
    color: white;
    margin-right: 1vh;
}

.footer-copyright {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.8vh;
}

.mobile-nav {
    display: none;
}

/*MEDIA SCREEN*/

@media screen and (max-width: 800px) {
    .mobile-nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;
        height: 5vh;
    }


    .logo-mobile {
        width: 90px;
        height: 3vh;
    }

        .logo-mobile:hover {
            cursor: pointer;
        }

    .logo {
        display: none;
    }

    article {
        padding-top: 150px;
    }

    .article-description {
        width: 92%;
        padding-top: 1000px;
        margin: 0px;
        padding: 15px;
    }

        .article-description h1 {
            margin: 0px;
            font-size: 25px;
        }

    .paragraph-welcome {
        font-size: 10px;
        padding-top: 7vh;
    }

    .line-style-orange {
        width: 115px;
        height: 20px;
    }

    .paragraph-description {
        width: 90%;
        font-size: 15px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .article-description-button {
        margin-top: 3vh;
        padding: 0.3vh 2vh;
        font-size: 15px;
        background-color: rgb(255, 129, 16);
        border: 0;
        color: white;
        transition: 0.5s background;
    }

    .hora {
        display: none;
    }

    .cidades {
        display: none;
    }

    .aside-info .paragraph-bold-info {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Poppins';
    }

    .aside-info div p {
        font-size: 15px;
        color: white;
        font-weight: 500;
    }

    nav {
        display: none;
    }


    .footer-about {
        width: 100%;
    }

    .footer-title {
        margin: 0px;
        width: 100%;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-about a {
        display: inline-block;
        margin-right: 0vh;
    }

    .footer-about, .footer-extra, .footer-contact {
        width: 100%;
        color: rgb(26, 26, 26);
    }

    .footer-extra {
        margin-bottom: 3vh;
    }

    .footer-main a {
        color: rgb(26, 26, 26);
        text-decoration: none;
    }

        .footer-main a:hover {
            color: white;
        }

    .footer-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 2vh;
    }

    footer p {
        font-size: 15px;
    }

    .footer-about i {
        color: white;
        font-size: 3vh;
        margin-left: 4%;
        margin-top: 10px;
    }

    .footer-contact i {
        color: white;
        margin-right: 1vh;
    }

    .footer-copyright {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 1.8vh;
    }
}
