@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header>

    <a href="index.html"><img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711075/logo_recorte_dxihjz.png" class="logo"></a>
    <nav>
        <ul>
            <li><a href="#" class="button-home">Home</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Preços</a></li>
            <li><a href="#" class="button-do-register">Fazer Cadastro</a></li>
        </ul>
    </nav>

    <article class="article-description">

        <h1>Nossos Serviços</h1>

        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711071/elemento_titulos_ulz1x5.png" class="line-style-orange">

        <p class="paragraph-description">Desbrave novos horizontes com nosso serviço de aluguel de carros por viagem. Liberte-se da rotina, escolha o seu caminho. Clique em <span class="destaque-saber-mais">Saber Mais</span> e descubra como reinventamos a maneira de viajar.</p>


    </article>
</header>
<aside class="aside-info">
    <div>
        <p class="paragraph-bold-info">250+</p>
        <p>Carros</p>
    </div>

    <div>
        <p class="paragraph-bold-info">R$12</p>
        <p>Por Hora</p>
    </div>

    <div>
        <p class="paragraph-bold-info">1500</p>
        <p>Cadastros</p>
    </div>

    <div>
        <p class="paragraph-bold-info">5+</p>
        <p>Cidades</p>
    </div>
</aside>
<main>
    <div class="dentroMain">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Básica</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                        <img src="/pics/carro_onix.png" style="max-width: 45vw;" ">
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Family</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                        <img src="/pics/carro_ecosport.png" style="max-width: 45vw;" ">
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Luxury</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                                <div>
                                    <p style="max-width: 15vw; font-size: 0.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quo et, consequatur ut cupiditate alias nulla debitis voluptas, magni qui quia vero molestias unde amet, at totam illo in autem.</p>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                        <img src="/pics/carro_lexus.png" style="max-width: 45vw;" ">
                    </div>
                </div>
                <!-- Add more items as needed -->
            </div>
            <button id="prevBtn" style="margin-left: 4vw;"><i class="fa-solid fa-arrow-right fa-flip-horizontal" style="color: #ffffff;"></i></button>
            <button id="nextBtn" style="margin-right: 5vw;"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
        </div>
    </div>

    </div>

    </div>
</main>

<footer>

    <div class="footer-main">
        <div class="footer-about">
            <p class="footer-title">Sobre a LeanIt</p>
            <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
            <div class="icons-about"><i class="fa-brands fa-youtube"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-square-x-twitter"></i></div>
        </div>

        <div class="footer-extra">
            <p class="footer-title">Nossa Página</p>
            <p><a href="#">Nosso blog</a></p>
            <p><a href="#">Sobre o Projeto</a></p>
            <p><a href="#">Entra21</a></p>
            <p><a href="#">Planos de Carreira</a></p>
            <p><a href="#">Serviços</a></p>
        </div>

        <div class="footer-contact">
            <p class="footer-title">Contate-nos</p>
            <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
            <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
        </div>
    </div>

    <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

</footer>


@section Styles {
    <link rel="stylesheet" href="~/css/services.css" />
}