@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Serviços";
}



<header>

    <a><img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711075/logo_recorte_dxihjz.png" class="logo"></a>
    <nav>
        <ul>
            <li><a asp-action="Index" asp-area="" asp-controller="Home">Home</a></li>
            <li><a asp-area="" asp-controller="OurServices" class="button-home" asp-action="Index">Categorias</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a href="#">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="add" asp-area="" asp-controller="Carros" asp-action="Adicionar">Add Carro</a></li>
                        <li><a class="listando" asp-area="" asp-controller="Carros" asp-action="Listar">Listar Carros</a></li>
                        <li>
                            <a class="add" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                        </li>
                    </ul>
                </li>
            }
            <partial name="_LoginPartial" />
    </nav>

    <article class="article-description">

        <h1>
            Nossos Serviços
        </h1>

        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711071/elemento_titulos_ulz1x5.png" class="line-style-orange" width="145rem" height="25rem">

        <p class="paragraph-description">Explore a variedade impressionante dos nossos serviços ao navegar pela tela dedicada aos nossos carros disponíveis. De sedans elegantes a SUVs espaçosos, nossa frota oferece opções para todos os gostos e necessidades. Descubra a combinação perfeita de estilo, desempenho e funcionalidade.</p>


    </article>
</header>
<main>
    <aside class="aside-info">
        <div>
            <p class="paragraph-bold-info">@ViewBag.QntCarros+</p>
            <p>Carros</p>
        </div>

        <div>
            <p class="paragraph-bold-info">R$12</p>
            <p>Por Hora</p>
        </div>

        <div>
            <p class="paragraph-bold-info">@ViewBag.QntPessoas</p>
            <p>Cadastros</p>
        </div>

        <div>
            <p class="paragraph-bold-info">5+</p>
            <p>Cidades</p>
        </div>
    </aside>
<main>
    <div class="dentroMain">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Básica</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">

                                <div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-side"></i>
                                            Chevrolet Onix
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-calendar-days"></i>
                                            2022
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-rear"></i>
                                            Manual
                                        </div>
                                        <div class="badge" style="margin-right:10px">
                                            <i class="fa-solid fa-gas-pump"></i>
                                            Gasolina
                                        </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701878810/carro_onix_vdns5r.png" style="max-width: 45vw;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Família</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">

                                    <div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-side"></i>
                                            Ford Ecosport
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-calendar-days"></i>
                                            2022
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-rear"></i>
                                            Automático
                                        </div>
                                        <div class="badge" style="margin-right:10px">
                                            <i class="fa-solid fa-gas-pump"></i>
                                            Gasolina
                                        </div>
                                    </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                        <img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701878818/carro_ecosport_rw5dxh.png" style="max-width: 45vw;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="display: flex; padding: 5vw; justify-content: space-between;">
                        <h1 style="max-width: 5vw; margin-left: 5vw; font-size: 2.5rem; color: #fff;">
                            Categoria
                            <span style="color: #fb8314;">Luxo</span>
                        </h1>
                        <div style="display: flex; flex-direction: row; gap: 4vw;">
                            <div style="margin-right: 5vw; display: flex; gap: 5vw; color: #fff;">

                                    <div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-side"></i>
                                            Lexus ES
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-calendar-days"></i>
                                            2023
                                        </div>
                                        <div class="badge" style="margin-right:5px">
                                            <i class="fa-solid fa-car-rear"></i>
                                            Automático
                                        </div>
                                        <div class="badge" style="margin-right:10px">
                                            <i class="fa-solid fa-gas-pump"></i>
                                            Gasolina
                                        </div>
                                    </div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15vh; margin-right: 15vw;">
                            <img src="https://res.cloudinary.com/dubnbered/image/upload/v1706293153/mlp-img-top-2022-sprinter_hwhox5.png" style="min-width: 45vw;">
                    </div>
                </div>
                <!-- Add more items as needed -->
            </div>
            <button id="prevBtn" style="margin-left: 4vw;"><i class="fa-solid fa-arrow-right fa-flip-horizontal" style="color: #ffffff;"></i>
                
            </button>
            <button id="nextBtn" style="margin-right: 5vw;"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>

            </button>
        </div>
    </div>

    </div>

    </div>
</main>

    <footer>

        <div class="footer-main">
            <div class="footer-about">
                <p class="footer-title">Sobre a LeanIt</p>
                <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
                <div class="icons-about"><a href="#"><i class="fa-brands fa-youtube"></a></i> <a href="#"><i class="fa-brands fa-facebook"></a></i> <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></div>
            </div>

            <div class="footer-extra">
                <p class="footer-title">Nossa Página</p>
                <p><a href="#">Nosso blog</a></p>
                <p><a href="#">Sobre o Projeto</a></p>
                <p><a href="https://www.entra21.com.br/" target="_blank">Entra21</a></p>
                <p><a href="#">Planos de Carreira</a></p>
                <p>@Html.ActionLink("Guia Turístico", "Index", "Turismo")</p>
                <p>@Html.ActionLink("Termos de Uso", "Index", "Termos")</p>
            </div>

            <div class="footer-contact">
                <p class="footer-title">Contate-nos</p>
                <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
                <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
            </div>
        </div>

        <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

    </footer>


@section Styles {
    <link rel="stylesheet" href="~/css/services.css" />
    
}

@section Scripts{
    <script src="~/js/contagemMinutos.js"></script>
}