* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --corUm: #fb8314;
    --corDois: #1c1c1c;
}

.navbar {
    background-image: url(carro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed;   */
    background-size: cover;
    height: 600px;
}

.dentroNavbar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.logo {
    width: 150px;
    margin-top: -60px;
}

ul {
    display: flex;
}

.navbar li {
    margin-left: 20px;
    font-size: 18px;
    list-style: none;
}

.textJunt {
    text-align: center;
    text-align: center;
    margin-top: -40px;
}

li a {
    color: var(--corDois);
}

.header {
    margin-top: 70px;
    text-align: center;
}

.elemento {
    width: 180px;
    margin-top: -60px;
    text-align: center;
}

.saiba {
    background-color: var(--corUm);
    padding: 8px;
    border: none;
    margin-top: 15px;
    color: white;
}

.retangulo {
    display: flex;
    justify-content: center;
}

.retangulo-informacoes {
    display: flex;
    justify-content: space-around;
    background-color: var(--corUm);
    font-size: 28px;
    width: 600px;
    padding: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 170px;
}

main {
    background-color: var(--corDois);
}

.dentroMain {
    padding-top: 150px;
}

.dentroMain h1 {
    font-size: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card ul {
    display: block;
    margin-top: 20px;
}

.card {
    border: var(--corUm) solid 3px;
    width: 300px;
    padding: 30px 30px 30px 30px;
    color: white;
    margin-bottom: 50px;
}

.card span {
    font-size: 20px;
}

.card button {
    border: solid 2px var(--corUm);
    background-color: var(--corDois);
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    color: white;
    font-size: 15px;
}

.card button:hover {
    background-color: var(--corUm);
}

.localizacaoCarro {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.localizarCarro {
    border: solid 2px var(--corUm);
    background-color: var(--corDois);
    padding: 7px;
    color: white;
    width: 40%;
}

.pesquisar {
    background-color: var(--corUm);
    padding: 7px;
    color: white;
    border: solid 2px var(--corUm);
}

.pesquisar:hover {
    background-color: #e7913f;
}

.dentroFooter {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.dentroFooter i {
    color: white;
    font-size: 20px;
}

.inputNomeCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.inputEmailCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.checkInput {
    width: 15px;
    height: 15px;
    margin-left: 100px;
    margin-top: 20px;
}

.inputCpfCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.inputDataCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.divSexoCadastro {
    padding-bottom: 150px;
}

.paiCadastro {
    display: flex;
}

.inputCepCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.inputEnderecoCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.inputNumeroCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;

}

.paiEnderecoNumero {
    display: flex;
}

.inputComplementoCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.inputEstadoCadastro {
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

#estado {
    background-color: #1c1c1c;
    border-color: #fb8314;
    padding: 10px;
    width: 160px;
    border-width: 2px;
    color: white;
    margin-left: 80px;
    margin-top: 10px;
}

.inputCidadeCadastro{
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px; 
}

.inputBairroCadastro{
    background-color: #1c1c1c;
    border-color: #fb8314;
    border-width: 2px;
}

.buttonCadastrese{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 520px;
    margin-left: -480px;
    background-color: #fb8314;
    font-size: large;
    color: white;
}