@{
    ViewData["Title"] = "Guia Turístico - LeanIt";
}
    <header>

    <a href="index.html"><img src="https://res.cloudinary.com/dubnbered/image/upload/v1702226094/logo_recorte_dxihjz_uv4xfy.png" class="logo"></a>
        <nav>
            <ul>
                <li><a href="#" class="button-home">Home</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Preços</a></li>
                <li><a href="#" class="button-do-register">Fazer Cadastro</a></li>
            </ul>
        </nav>

        <article class="article-description">

            <h1>Aventure-se com a<span class="destaque-title"> LeanIt</span></h1>

        <img src="https://res.cloudinary.com/dubnbered/image/upload/v1702226094/elemento_titulos_ulz1x5_j0fyh8.png" class="line-style-orange" width="145rem" height="25rem">

            <p class="paragraph-description">Aventure-se com confiança e estilo, deixe o Leanit guiá-lo em direção à sua próxima grande aventura.</p>

        </article>
    </header>
    <div class="gradient"></div>
    <main>
        <div class="cards-pontos-turisticos">
            <article class="ponto-turistico-1">
                <div class="turismo-texto">
                    <h2>Prefeitura de Blumenau:</h2>
                    <p>A a imponente Prefeitura Municipal se destaca como um ícone arquitetônico, exibindo a influência da colonização alemã na região. Com sua marcante fachada em estilo enxaimel, o prédio não apenas abriga o centro administrativo, mas também encapsula a rica história e cultura da cidade, atraindo visitantes em busca de beleza e significado histórico.</p>
                </div>

                <div class="img-1"></div>

            </article>

            <article class="ponto-turistico-2">

                <div class="img-2"></div>

                <div class="turismo-texto">
                    <h2>Igreja Matriz:</h2>
                    <p>A majestosa Igreja Matriz de Blumenau, dedicada a São Paulo Apóstolo, é um ícone de arquitetura sacra que mescla influências germânicas. Com sua imponência e vitrais deslumbrantes, a igreja é um ponto turístico que transcende a devoção religiosa, oferecendo aos visitantes uma experiência única de beleza histórica e cultural.</p>
                </div>

            </article>

            <article class="ponto-turistico-3">
                <div class="turismo-texto">
                    <h2>Vila Germânica:</h2>
                    <p>A Vila Germânica de Blumenau encanta os visitantes com sua atmosfera encantadora e arquitetura que evoca a tradição alemã. Este ponto turístico vibrante é conhecido por sediar eventos culturais, festivais e proporcionar uma experiência única, onde a gastronomia, a música e a cultura germânica se entrelaçam de maneira cativante.</p>
                </div>

                <div class="img-3"></div>

            </article>

            <article class="ponto-turistico-4">

                <div class="img-4"></div>

                <div class="turismo-texto">
                    <h2>Castelinho da XV:</h2>
                    <p>O Castelinho da XV, um notável ponto turístico de Blumenau, é uma construção histórica que remete à herança arquitetônica da colonização alemã na região. Com sua fachada encantadora, o Castelinho preserva a rica história local, proporcionando aos visitantes uma imersão na cultura e no charme característicos da cidade.</p>
                </div>

            </article>
        </div>
    </main>

    <footer>

        <div class="footer-main">
            <div class="footer-about">
                <p class="footer-title">Sobre a LeanIt</p>
                <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
                <div class="icons-about"><a href="#"><i class="fa-brands fa-youtube"></a></i> <a href="#"><i class="fa-brands fa-facebook"></a></i> <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></div>
            </div>

            <div class="footer-extra">
                <p class="footer-title">Nossa Página</p>
                <p><a href="#">Nosso blog</a></p>
                <p><a href="#">Sobre o Projeto</a></p>
                <p><a href="https://www.entra21.com.br/" target="_blank">Entra21</a></p>
                <p><a href="#">Planos de Carreira</a></p>
                <p>@Html.ActionLink("Guia Turístico", "Index", "Turismo")</p>
                <p>@Html.ActionLink("Termos de Uso", "Index", "Termos")</p>
            </div>

            <div class="footer-contact">
                <p class="footer-title">Contate-nos</p>
                <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
                <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
            </div>
        </div>

        <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

    </footer>

    @section Styles{
    <link rel="stylesheet" href="~/css/turismo.css" />
    }
