@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    background-image: url(Imagens/pexels-photo-14550540.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    z-index: 1;
}

.logo{
    margin: 7vh 0 0 10vh;
    width: 20vh;
    height: 5vh;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav ul{
    margin: 0 10vh 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    margin: 7vh 0 0 0;
    padding: 1vh 4vh;
}

nav ul li a{
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-size: 1.0rem;
    letter-spacing: 2px;
    font-family: 'Poppins';
    transition: 0.5s all;
    border: transparent;
}


.button-home{
    color: rgb(255, 129, 16);
}

.button-do-register{
    background-color: rgb(255, 129, 16);
    color: white;
    padding: 7px 11px;
    transition: 0.5s background;
}

.button-do-register:hover{
    background-color: rgb(26, 26, 26);
}

nav ul li:nth-child(-n+3) a{
    transition: 0.6s border;
}

nav ul li:nth-child(-n+3) a:hover{
    border-bottom: 1px solid rgb(26, 26, 26);
}

.article-description{
    width: 98vh;
    margin-top: 5vh;
    margin-left: 10vh;
    font-weight: 200;
}

.paragraph-welcome{
    font-size: 1.1rem;
    font-family: 'Poppins';
}

.article-description h1{
    font-size: 2rem;
    margin-bottom: 3vh;
}

.destaque-title{
    color: rgb(255, 129, 16);
    width: 1vw;
}

.paragraph-description{
    margin-top: 3vh;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.destaque-saber-mais{
    font-weight: 700;
}

.article-description-button{
    margin-top: 5vh;
    padding: 1vh 5vh;
    font-size: 1.1rem;
    background-color: rgb(255, 129, 16);
    border: 0;
    color: white;
    transition: 0.5s background;
}

.article-description-button:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

/* aside números informativos */

.aside-info{
    background-color: rgb(255, 129, 16);
    display: flex;
    justify-content: space-around;
    margin: 0 18vh;
    align-items: center;
    position: relative;
    min-height: 16vh;
    max-height: 30vh;
    margin-top: -8vh;
    z-index: 2;
}

.aside-info .paragraph-bold-info{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins';
}

.aside-info div p{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

/* article cards informativos */

main{
    background-color: rgb(26, 26, 26);
}

.article-main{
    padding-top: 12vh;
    margin: 0 18vh;
    color: white;
    padding-bottom: 8vh;
}

.article-main-text{
    text-align: center;
}

.article-main-text h1{
    font-size: 2rem;
    width: 100vh;
    margin: auto;
    line-height: 9vh;
    margin-bottom: 3vh;
}

.destaque-familia{
    color: rgb(255, 129, 16);
}

/* cards preços */

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.card-1, .card-2, .card-3{
    flex-wrap: wrap;
    text-align: center;
    width: 50vh;
    min-height: 72vh;
    max-height: 72vh;
    border: 3px solid rgb(255, 129, 16);
    position: relative;  
    margin-bottom: 2vh;
}

.card-title{
    font-family: 'Poppins';
    margin-top: 2vh;
    font-size: 26px;
    font-weight: 700;
}

.paragraph-hour{
    margin: 0 8vh 3vh;
    padding-bottom: 1vh;
    border-bottom: 3px dotted white;
}

.value-hour{
    font-size: 3.3rem;
    font-family: 'Poppins';
    font-weight: 700;
}

.paragraph-description-categories{
    margin: 0 3vh;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    font-weight: 200;
}

.button-container {
    display: block;
    position:absolute;
    bottom: 1.5vh;
    width: 100%;
}

.cards button{
    padding: 1vh 5vh;
    font-size: 1.0rem;
    background-color: rgb(26, 26, 26);
    border: 3px solid rgb(255, 129, 16);
    color: white;
    transition: 0.4s all;
}

.cards button:hover{
    background-color: rgb(255, 129, 16);
    border: 3px solid white;
    cursor: pointer;
}

/* aside mapa */

.aside-search-localization{
    background-color: white;
    padding-top: 8vh;
    margin: 0 18vh;
}

.paragraph-map{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5vh;
    font-size: 1.2rem;
    font-weight: 200;
}

.form-map label{
    font-size: 2.5rem;
    font-weight: 700;
}

.search-map{
    padding-top: 1.5vh;
    display: flex;
    margin-bottom: 2vh;
}

.search-map input{
    width: 82%;
    max-height: 5vh;
    min-height: 5vh;
    font-size: 0.9rem;
    font-weight: 200;
    padding-left: 8px;
    border-radius: 0;
    border: 3px solid rgb(255, 129, 16);
    background-color: rgb(26, 26, 26);
    color: white;
    margin-right: 1%;
}

.form-map input[type="text"]:focus{
    border: 3px solid rgb(255, 129, 16);
    outline: none;
    background-color: #3b3b3b;
}

.form-map button{
    width: 17%;
    background-color: rgb(255, 129, 16);
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
}

/* Footer */

.footer-main{
    margin-top: 5vh;
    display: flex;
    background-color: rgb(255, 129, 16);
    justify-content: space-around;
    padding: 50px 0;
}

.footer-main a{
    color: rgb(26, 26, 26);
    text-decoration: none;
}

.footer-main a:hover{
    color: white;
}

.footer-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-main div{
    width: 30%;
    text-align: center;
}

.footer-paragraph-about{
    width: 60%;
    text-align: start;
    margin: auto;
    line-height: 1.5em;
}

.footer-about i{
    color: white;
    font-size: 25px;
    margin-left: 4%; 
    margin-top: 10px;
}

.icons-about{
    text-align: left;
    margin-left: 16%;
}

.footer-extra a{
    line-height: 1.5em;
}

.footer-contact i{
    color: white;
    display: inline-block;
}

.phone-icon{
    display: inline-block;
    margin-right: 7px;
}

.email-icon{
    display: inline-block; 
    margin-right: 10px; 
    margin-top: 1px;
}

.paragraph-contact-top{
    margin-bottom: 10px;
}

.paragraph-contact{
    text-align: start;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer-copyright{
    text-align: center;
    padding: 10px 0;
    letter-spacing: 2px;
    font-weight: 500;
}
