@{
    ViewData["Title"] = "Termos de Uso";
}

<header>

    <a href="index.html"><img src="https://res.cloudinary.com/dubnbered/image/upload/v1702226094/logo_recorte_dxihjz_uv4xfy.png" class="logo"></a>
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="OurServices" asp-action="Index">Categorias</a></li>
            <li><a href="#">Preços</a></li>
            <li class="nav-item dropdown">
                <a href="#">Admin</a>
                <ul class="dropdown-menu">
                    <li><a class="add" asp-area="" asp-controller="Carros" asp-action="Adicionar">Add Carro</a></li>
                    <li><a class="listando" asp-area="" asp-controller="Carros" asp-action="Listar">Listar Carros</a></li>
                </ul>
            </li>
            <li><a class="button-do-register" asp-area="" asp-controller="Account" asp-action="Login">Fazer Login</a></li>
        </ul>
    </nav>
<main>
    <h1>Termos de Uso</h1>

    <div class="terms">
        <p class="first-paragraph">Este documento estabelece os Termos de Uso para o acesso e utilização do sistema de aluguel de carros oferecido por LeanIt, doravante referido como "nós", "nosso" ou "o site". Ao utilizar nossos serviços, você concorda com os seguintes termos e condições:</p>

        <h2>1. Aceitação dos Termos:</h2>
        <p>Ao acessar ou utilizar o site, você concorda em cumprir estes Termos de Uso. Se você não concordar com alguma parte deste documento, não utilize nossos serviços.</p>

        <h2>2. Cadastro e Conta:</h2>
        <p>Para utilizar determinadas funcionalidades do site, você pode ser solicitado a criar uma conta. As informações fornecidas durante o cadastro devem ser precisas e atualizadas. Você é responsável por manter a confidencialidade da sua conta e por todas as atividades que ocorram sob sua conta.</p>

        <h2>3. Uso Adequado:</h2>
        <p>Você concorda em utilizar o sistema de aluguel de carros apenas para fins legais e de acordo com estes Termos de Uso. Não é permitido o uso indevido do site, incluindo, mas não se limitando a atividades fraudulentas, violação de direitos autorais, violação de privacidade, ou qualquer conduta que viole leis locais, estaduais, nacionais ou internacionais.</p>

        <h2>4. Responsabilidades do Usuário:</h2>
        <p>Você é responsável por qualquer conteúdo que enviar ou postar no site. Além disso, é responsável por garantir que seu uso do sistema de aluguel de carros esteja em conformidade com todas as leis aplicáveis.</p>

        <h2>5. Aluguel de Carros:</h2>
        <p>Ao alugar um carro através do nosso sistema, você concorda em cumprir os termos e condições do contrato de aluguel estabelecido pela locadora. Não somos responsáveis por quaisquer problemas, disputas ou danos relacionados ao aluguel de carros.</p>

        <h2>6. Privacidade:</h2>
        <p>Nossa Política de Privacidade detalha como suas informações pessoais são coletadas, usadas e protegidas. Ao utilizar nossos serviços, você concorda com as práticas descritas em nossa Política de Privacidade.</p>

        <h2>7. Modificações nos Termos:</h2>
        <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação no site. Recomendamos que você revise periodicamente os Termos de Uso para estar ciente de quaisquer modificações.</p>

        <h2>8. Rescisão:</h2>
        <p>Reservamo-nos o direito de rescindir ou suspender sua conta e acesso ao site a qualquer momento, sem aviso prévio, por violação destes Termos de Uso ou por qualquer razão.</p>

        <h2>9. Lei Aplicável:</h2>
        <p>Estes Termos de Uso são regidos pelas leis do Brasil, e qualquer disputa será submetida à jurisdição exclusiva dos tribunais competentes deste país.</p>

        <p>Ao utilizar nosso sistema de aluguel de carros, você concorda em cumprir estes Termos de Uso. Se tiver dúvidas ou preocupações, entre em contato conosco através dos meios disponíveis no site.</p>

        <p class="att-termos">Atualizado em 12/12/2023.</p>
    </div>

</main>
<footer>

    <div class="footer-main">
        <div class="footer-about">
            <p class="footer-title">Sobre a LeanIt</p>
            <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
            <div class="icons-about"><a href="#"><i class="fa-brands fa-youtube"></a></i> <a href="#"><i class="fa-brands fa-facebook"></a></i> <a href="#"><i class="fa-brands fa-instagram"></i></a> <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></div>
        </div>

        <div class="footer-extra">
            <p class="footer-title">Nossa Página</p>
            <p><a href="#">Nosso blog</a></p>
            <p><a href="#">Sobre o Projeto</a></p>
            <p><a href="https://www.entra21.com.br/" target="_blank">Entra21</a></p>
            <p><a href="#">Planos de Carreira</a></p>
            <p>@Html.ActionLink("Guia Turístico", "Index", "Turismo")</p>
            <p>@Html.ActionLink("Termos de Uso", "Index", "Termos")</p>
        </div>

        <div class="footer-contact">
            <p class="footer-title">Contate-nos</p>
            <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
            <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
        </div>
    </div>

    <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

</footer>


@section Styles {
    <link rel="stylesheet" href="~/css/termos.css" />

}