@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registre-se";
}

<header>

    <a><img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711075/logo_recorte_dxihjz.png" class="logo"></a>
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index" class="button-home">Home</a></li>
            <li><a asp-area="" asp-controller="OurServices" asp-action="Index">Categorias</a></li>
            <li><a href="#">Preços</a></li>
            <li class="nav-item dropdown">
                <a href="#">Admin</a>
                <ul class="dropdown-menu">
                    <li><a class="add" asp-area="" asp-controller="Carros" asp-action="Adicionar">Add Carro</a></li>
                    <li><a class="listando" asp-area="" asp-controller="Carros" asp-action="Listar">Listar Carros</a></li>
                </ul>
            </li>
            <li><a class="button-do-register" asp-area="" asp-controller="Account" asp-action="Login">Fazer Login</a></li>
        </ul>
    </nav>
</header>

    
    <div class="tituloCadastro">
        <h3 class="container" style="font-weight: 700;">Cadastre-se</h3>
    </div>
    <hr>
<h4 class="container" style="font-weight: 700;">Estamos perto de realizar seu cadastro!</h4>

    <div class="tituloInformacao">
        <p class="container">Informações pessoais</p>
    </div>

    <div class="informacoesPessoais container">
        <div class="mb-3">
            <label for="nomeCadastro" class="form-label">Nome completo</label>
            <input type="text" class="form-control" id="nomeCadastro" name="nomeCadastro" placeholder="Digite aqui">
        </div>
        <div  class="mb-3">
            <label for="cpfCadastro" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpfCadastro" name="cpfCadastro" onblur="validaCPF()"  placeholder="xxx.xxx.xxx-xx">
        </div>
    <div class="mb-3">
        <label for="cnhCadastro" class="form-label">CNH</label>
        <input type="text" class="form-control" id="cnhCadastro" name="cnhCadastro" placeholder="Digite aqui">
    </div>
        
        <div class="escolhaSexo">
            <label for="escolhaSexoCadastro" class="form-label">Sexo</label>
            <select id="escolhaSexoCadastro" name="escolhaSexoCadastro"  class="form-select form-select-lg mb-3 fs-6">
                <option for="escolhaSexoCadastro" value="1">Masculino</option>
                <option for="escolhaSexoCadastro" value="2">Feminino</option>
            </select>
        </div>
    </div>

    <div style="margin-top: -5px;" class="informacoes2 container">
        <div class="mb-3">
            <label for="telefoneCadastro"  class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefoneCadastro" name="telefoneCadastro" placeholder="Digite seu número aqui">
          </div>
          <div class="mb-3">
            <label for="celularCadastro"  class="form-label">Celular</label>
            <input type="text" class="form-control" id="celularCadastro" name="celularCadastro" placeholder="Digite seu número aqui">
        </div>
        <div class="mb-3">
            <label for="emailCadastro" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailCadastro" name="emailCadastro" placeholder="Informe seu e-mail">
          </div>
    <div class="mb-3">
        <label for="dataCadastro" id="cad1" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" id="dataCadastro" name="dataCadastro">
    </div>
    </div>

    <div>
        <p class="container">Informações residenciais</p>
    </div>

    <div class="informacoesResidenciais container">
        <div class="mb-3">
            <label for="inputCep" class="form-label">Informe seu CEP</label>
            <input type="text" class="form-control" id="inputCep" name="inputCep" onblur="dadosEndereco()" placeholder="Digite seu CEP">
          </div>
          <div class="mb-3">
            <label for="inputEndereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="inputEndereco" name="inputEndereco" placeholder="Digite aqui">
        </div>
        <div class="mb-3">
            <label for="inputNumero" class="form-label">Número</label>
            <input style="width: 100px;" type="text" class="form-control" id="inputNumero" placeholder="Nº">
          </div>
          <div class="mb-3">
            <label for="inputComplemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="inputComplemento" name="inputComplemento" placeholder="Digite aqui">
        </div>
    </div>

    <div style="margin-top: -5px;" class="informacoesResidenciais2 container">
        <div class="mb-3">
            <label for="inputCidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputCidade" name="inputCidade" placeholder="Digite Aqui">
          </div>
          <div class="mb-3">
            <label for="inputBairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="inputBairro" name="inputBairro" placeholder="Digite aqui">
        </div>
        <div class="mb-3">
            <label for="inputEstado" class="form-label">Estado</label>
            <select id="inputEstado" name="inputEstado" class="form-select form-select-lg mb-3">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>
        </div>
    </div>

    <div>
        <p style="margin-top: -2px;" class="container">Crie sua senha</p>
    </div>

    <div class="criarSenha container">
        <div class="mb-3">
            <label for="inputSenha" class="form-label">Crie uma senha</label>
            <input type="password" class="form-control" id="inputSenha" name="inputSenha" placeholder="*********">
          </div>
          <div class="mb-3">
            <label for="inputConfirmarSenha" class="form-label">Confirme sua senha</label>
            <input type="password" class="form-control" id="inputConfirmarSenha" form="inputConfirmarSenha" placeholder="*********">
        </div>
    </div>

    <div class="confirmarCadastro container">
        <button class="buttonCadastro button-do-register" type="submit">Cadastrar</button>
        <button class="buttonCancelarCadastro button-do-register" asp-area="" asp-controller="Account" asp-action="Login" type="submit">Cancelar</button>
    </div>

    @section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    }
    @section Scripts{
    <script src="~/js/register.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    }